# === Java specific ===
*.class
*.jar
*.war
*.log

# === Maven/Gradle build folders ===
/target/
/.mvn/
/build/

# === OS/IDE files ===
*.iml
.idea/
.vscode/
*.swp

# === Others ===
.DS_Store
Thumbs.db
.env
src/main/resources/application.properties

# === Node.js ===
frontend/node_modules/
